.button {
    position: absolute;
    left: 100px;
    top: 100px;
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index: 1
  }
  
  .button:hover {
    position: absolute;
    left: 100px;
    top: 100px;
    height: 190px;
    width: 190px;
    background-color: red;
    border-radius: 50%;
    z-index: 0
  }

  h1{
   border: 8px solid #7F01FE;
   border-radius: 25px;
  }

  h2{
  border: 8px solid #7F01FE;
   border-radius: 25px;
  }

  body{
    background-color: slategrey;
  }